@media (min-width: 1024px) {

    /* Re-used styles */
    .verPhone-horPc {
        flex-direction: row;
        align-items: stretch;
    }

    .border-spin-animation:hover::after,
    .border-spin-animation:hover::before {
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle), transparent, var(--yellow));
        z-index: -1;
        inset: -3px;
        animation: 3s spin linear infinite;
    }

    .border-spin-animation::before {
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    .big-icon {
        font-size: 2.5rem;
    }

    /* Nav Styles */
    nav {
        padding: 1rem 5%;
    }

    .nav-links-wrapper,
    .nav-btn-wrapper {
        display: flex;
    }

    .ham-btn,
    .ham-menu {
        display: none;
    }

    /* Hero Section Styles */
    .hero-image {
        width: 88%;
    }

    .hero-title {
        font-size: 5.2rem;
        bottom: -3rem;
    }

    .hero-title2 {
        bottom: -8rem;
    }

    /* Specials Section Styles */
    .specials-cards-wrapper {
        flex-direction: row;
    }

    .specials-card {
        height: 260px;
    }

    .squared-img-wrapper {
        width: 360px;
        height: 360px;
    }

    /* Testimunials section */
    .comment-card {
        gap: 2rem;
    }

    .arrow {
        width: 24px;
        height: 24px;
    }

    .comment-txt {
        max-width: 80%;
    }

    /* Progress section */
    .big-title {
        font-size: 5.5rem;
    }

    .progress-content {
        min-height: 40vh;
        width: 80%;
    }

    .cta-section-bg {
        height: 80vh;
    }

    .cta-input {
        width: 100%;
    }

    /* Footer */
    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .filter-big-img {
        width: 50%;
    }

    .eighty-to-fourty-width {
        width: 40%;
    }

    .flex-between-to-center {
        justify-content: center;
    }

    .flex-between-to-around {
        justify-content: space-around;
    }

    /* TDEE page */
    #form {
        padding: 5% 10%;
    }

    .tdee-form-wrapper {
        max-width: 60%;
    }

    .auth-card {
        width: 44%;
    }

    .big-title-wrapper.nutrition .big-title {
        font-size: 3.6rem;
    }

    .nut-form-wrapper {
        min-width: 40%;
    }
}